@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@400;700&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Archivo', sans-serif;
}

// MAIN
main {
    background: url('/img/banner-background.webp');
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    gap: 4em;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 8em;
        }

        button {
            padding: 10px;
            border-radius: 5px;
            background-color: #4d4d4d5d;
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            gap: 0.3em;
            cursor: pointer;
            // ---first z-index usage value [10]---
            z-index: 10;


            span {
                display: block;
                background-color: #000000;
                height: 2px;
                width: 15px;
                transition: 0.3s;
            }

        }

        // mobile menu animation

        button.is-active {
            background: none;
            position: relative;
            top: 1px;
        }

        button.is-active>:nth-child(1) {
            rotate: 135deg;
            position: relative;
            top: 0.15em;
            scale: 1.3;
        }

        button.is-active>:nth-child(2) {
            rotate: -135deg;
            position: relative;
            top: -0.25em;
            scale: 1.3;
        }

        // mobile menu animation end
    }

    aside {
        display: flex;
        flex-direction: column;
        gap: 5.5em;

        .left-side {
            display: flex;
            flex-direction: column;
            gap: 2em;


            .heading {
                display: flex;
                flex-direction: column;
                gap: 1em;

                h1 {
                    font-size: 2rem;
                }

                p {
                    color: #525252;
                    line-height: 1.5em;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 2em;

                label {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    font-size: 0.75em;

                    input {
                        padding: 15px;
                        border: none;
                        border-radius: 5px;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                button {
                    border: none;
                    padding: 1em;
                    color: #fff;
                    font-weight: bold;
                    background-color: #146eb4;
                    border-radius: 10px;

                }
            }
        }

        .right-side {
            display: flex;
            overflow: hidden;

            img {
                max-width: 100%;
                transform: scale(1.5);
                position: relative;
                left: 21%;
            }
        }

    }

}

// MAIN END

// Mobile Menu
.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    padding: 1em 1.5em;
    background-color: #fff;
    min-height: 100vh;
    width: 100%;

    img {
        width: 8em;
    }

    // LINKS
    .links {
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        gap: 2em;

        li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .dropdown {
                display: none;
                flex-direction: column;
                gap: 1em;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 1.5em;

                    img {
                        max-width: 2em;
                    }
                }
            }

            .dropdown.is-called {
                display: flex;
            }
        }
    }

    // LINKS END
}

.mobile-menu.is-active {
    display: block;
}

// Mobile Menu End

// SECTION - FASHION BRANDS
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

figure {
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    padding: 2em;
    position: relative;
    white-space: nowrap;

    .brands-slider {
        white-space: nowrap;
        animation: 40s slide infinite linear;
        display: inline-block;

        img {
            height: 30px;
            margin: 0 20px;

        }
    }
}

figure::before,
figure::after {
    content: "";
    top: 0;
    position: absolute;
    width: 25px;
    height: 100%;
    z-index: 10;
}

figure::before {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.603));
}

figure::after {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.603));
}

// SECTION - FASHION BRANDS END


// ARTICLE PERKS
.solutions {
    display: flex;
    padding: 2em 1.5em;
    flex-direction: column;
    gap: 5em;

    h2 {
        text-align: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 2em;

        .perks {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;

            .benefits {

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 1em;

                        img {
                            max-width: 1.5em;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        picture {

            img {
                max-width: 100%;
            }
        }
    }
}

// ARTICLE PERKS END

// SUMMARY - GRID SUPPORT
summary {
    display: flex;
    padding: 2em 1.5em;
    flex-direction: column;
    gap: 3em;
    background-color: rgba(250, 183, 59, .1);

    h3 {
        text-align: center;
    }

    .grid-benefits {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;

        .tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            background-color: #fff;
            padding: 20px;
            border-radius: 20px;

            svg {
                max-width: 4em;
            }

            p {
                text-align: center;
                color: gray;
            }
        }
    }
}

// SUMMARY - GRID SUPPORT END

// SECTION PLUGINS
.plugins {
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    background-color: #fff8eb;

    h2,
    p {
        text-align: center;
    }

    p {
        color: #525252;
    }

    .images-container {
        padding-top: 3em;

        .elevated-logos {
            margin-bottom: 1.3em;
        }


        img {
            max-width: 2.3em;
            margin: 0 0.5em;
            border-radius: 5px;
        }



    }

    .take-a-look {
        text-decoration: none;
        color: #525252;
        padding: 0.8em 1em;
        border: solid 1px #525252;
        border-radius: 10px;

        &:hover {
            background-color: #f5be6b;
            color: #000;
        }
    }

}

// SECTION PLUGINS END


// FEEDBACK
.feedback {
    padding: 1em 1.5em;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-color: #fff8eb;

    .quotation-mark {
        max-width: 3em;
    }

    h2,
    p {
        text-align: center;
    }

    .testimonials-slider {
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        scroll-snap-type: x mandatory;

        .testimonial-wrapper {
            display: inline-block;
            scroll-snap-align: start;

            .testimonial {
                background-color: rgba(20, 110, 180, 0.2392156863);
                padding: 1.5em;
                margin: 10px 0;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 2em;
                align-items: flex-start;

                h3 {
                    font-size: 0.9rem;
                    color: #000;
                }

                img {
                    max-width: 4em;
                }

                p {
                    font-size: 0.9rem;
                    line-height: 1.5em;
                    text-align: start;
                    color: #525252;
                    white-space: normal;
                }

                .avatar {
                    display: flex;
                    align-items: center;
                    gap: 1em;

                    img {
                        max-width: 2em;
                        border-radius: 50px;
                    }

                    .info {

                        p {
                            color: #525252;
                        }
                    }
                }
            }
        }
    }


}

// FEEDBACK END