@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@400;700&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Archivo', sans-serif;
}

// MAIN
main {
    background: url('/img/banner-background.webp');
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    gap: 4em;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;        

        img {
            width: 8em;
        }

        button {
            padding: 10px;
            border-radius: 5px;
            background-color: #4d4d4d5d;
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            gap: 0.3em;
            cursor: pointer;


            span {
                display: block;
                background-color: #000000;
                height: 2px;
                width: 15px;
            }
        }
    }

    aside{
        display: flex;
        flex-direction: column;
        gap: 2em;


        .heading{
            display: flex;
            flex-direction: column;
            gap: 1em;
            background-color: green;
        }

        form{
            
            label{
                display: flex;
                flex-direction: column;
                gap: 0.2em;
                font-size: 0.75em;

                input{
                    padding: 10px;
                }
            }
        }
    }
}

// MAIN END